{% extends "base.html" %}
	{% block head %}
	{{ super() }}
	{% endblock head %}

	{% block content %}
		<div class="hero-unit" align="center" style="margin-top:70px">
		    <h1>Registro: Paso 2</h1>
		<p>Complete los siguientes campos de su mascota</p>

		{% if error %}
		<p class="error"><strong>Error:</strong> {{ error }} </p>
		{% endif %}
		<br/>
		
		<form style="margin-left: 70px" action="" method="POST">
            <div class="input-group">
                <span class="input-group-addon">Nombre <span class="glyphicon glyphicon-pencil"></span></span>
                <input type="text" class="form-control" name="nombre" placeholder="Ingresa nombre de tu mascota">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Raza <span class="glyphicon glyphicon-tag"></span></span>
                <input type="text" class="form-control" name="raza" placeholder="Ingresa raza de tu mascota">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Edad <span class="glyphicon glyphicon-gift"></span></span>
                <input type="text" class="form-control" name="edad" placeholder="Ingresa edad de tu mascota">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Sexo <span class="glyphicon glyphicon-fire"></span></span>
                <input type="text" class="form-control" name="sexo" placeholder="Ingresa sexo">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Foto <span class="glyphicon glyphicon-picture"></span></span> 
                <input type="text" class="form-control" name="foto" placeholder="Sube tu foto aqui" readonly></input>
                <!-- Future Work -->
                

            </div>
            <br>
            <a type='button' class='btn btn-warning' href="http://localhost:5000/registro/usuario">Atras <span class='glyphicon glyphicon-arrow-left'></span></a>
            <input type='submit' class='btn btn-success' href="http://localhost:5000/registro/success" value="Siguiente"></input>
            <a type='button' class='btn btn-danger' href="http://localhost:5000/">Cancelar <span class='glyphicon glyphicon-remove'></span></a>
        </form>   

		{% for message in get_flashed_messages() %}
		<div class=flash>
			{{ message }}
		</div>
		{% endfor %}
	    </div>
	{% endblock content %}