{% extends "base.html" %}
	{% block head %}
	{{ super() }}
	{% endblock head %}

	{% block content %}
		<div class="hero-unit" align="center" style="margin-top:70px">
		    <h1>Registro: Paso 2</h1>
		<p>Complete los siguientes campos de su mascota</p>

		{% if error %}
		<p class="error"><strong>Error:</strong> {{ error }} </p>
		{% endif %}
		<br/>
		
		<form style="margin-left: 70px">
            <div class="input-group">
                <span class="input-group-addon">Nombre <span class="glyphicon glyphicon-pencil"></span></span>
                <input type="text" class="form-control" id="name" placeholder="Ingresa nombre de tu mascota">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Raza <span class="glyphicon glyphicon-tag"></span></span>
                <input type="text" class="form-control" id="mail" placeholder="Ingresa raza de tu mascota">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Edad <span class="glyphicon glyphicon-gift"></span></span>
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                </select>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Sexo <span class="glyphicon glyphicon-fire"></span></span>
                <select class="form-control">
                  <option>Macho</option>
                  <option>Hembra</option>
                </select>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Foto <span class="glyphicon glyphicon-picture"></span></span> 
                <input type="text" class="form-control" id="file" placeholder="Sube tu foto aqui" readonly></input>
                <!-- Future Work -->
                <span class="input-group-addon" onclick="$('#pdffile').click();">Adjuntar</span>

            </div>
            <br>
            <a type='button' class='btn btn-warning' href="http://localhost:5000/registro/usuario">Atras <span class='glyphicon glyphicon-arrow-left'></span></a>
            <a type='button' class='btn btn-success' href="http://localhost:5000/registro/success">Siguiente <span class='glyphicon glyphicon-arrow-right'></span></a>
            <a type='button' class='btn btn-danger' href="http://localhost:5000/">Cancelar <span class='glyphicon glyphicon-remove'></span></a>
        </form>   

		{% for message in get_flashed_messages() %}
		<div class=flash>
			{{ message }}
		</div>
		{% endfor %}
	    </div>
	{% endblock content %}